---
layout: default
---

<div class="inner">

  <h1>Portfolio</h1>

  <p class="fancy">
    I graduated in 1999 from <a href="https://www.haifa.ac.il/?lang=en">University of Haifa</a> and joined early stage startup as Java developer.
  </p>

  {{ content }}

  <div class="fancy center convinced">
    <!-- <a class="btn btn-lg" href="http://freelancebooking.pro/en/users/ssaunier">Book me</a>

    <br /><br /> -->

    Interested? Here's my <a href="https://github.com/dmitryro">Github</a> and <a href="https://dmitryroitman.com/Dmitry_Resume.pdf">resume</a>,
    let's <a href="/contact">get in touch</a>.
  </div>

</div>
