---
layout: default
---

<div class="inner">

  <h1>Portfolio</h1>

  <p class="fancy">
    Some of my recent projects. Also visit me on <a href="https://github.com/dmitryro">Github</a> and <a href="https://stackoverflow.com/users/3358074/dmitryro">Stack Overflow</a>.

  {{ content }}

  <div class="fancy center convinced">
    <!-- <a class="btn btn-lg" href="http://freelancebooking.pro/en/users/ssaunier">Book me</a>

    <br /><br /> -->

    Interested? Here's my <a href="https://github.com/dmitryro">Github</a> and <a href="https://dmitryroitman.com/Dmitry_Resume.pdf">resume</a>,
    let's <a href="/contact">get in touch</a>.
  </div>

</div>
