---
layout: default
---

<div class="inner">

  <h1>Portfolio</h1>

  <p class="fancy">
    I graduated in 1999 from <a href="https://www.haifa.ac.il/?lang=en">University of Haifa</a> and joined early stage startup as Java developer.
  </p>

  <ul class="portfolio-nav">
    <li {% if page.url == '/portfolio/index.html' %}class="active"{% endif %}>
      <a href="/portfolio/">Products</a>
    </li><li {% if page.url == '/portfolio/code.html' %}class="active"{% endif %}>
      <a href="/portfolio/code.html">Code</a>
    </li><li {% if page.url == '/portfolio/courses.html' %}class="active"{% endif %}>
      <a href="/portfolio/courses.html">Courses</a>
    </li>
  </ul>

  {{ content }}

  <div class="fancy center convinced">
    <!-- <a class="btn btn-lg" href="http://freelancebooking.pro/en/users/ssaunier">Book me</a>

    <br /><br /> -->

    Interested? Here's my <a href="https://github.com/ssaunier">Github</a> and <a href="https://github.com/ssaunier/resume/raw/master/resume.pdf">resume</a>,
    let's <a href="/contact">get in touch</a>.
  </div>

</div>
